<%-include("header.ejs")%>
<body>
<%-include("nav.ejs")%>
<div id="main">
    <article class="post page">
      <h1 class="title">关于</h1>
      <div class="entry-content">
        <p><span style="color: #ff0000;">声明：xxx</span></p>
        <h2 id="-">个人介绍</h2>
        <p>
          网名Sirius，从事前端开发
        </p>
        <p>可以通过邮件与我联系： hpysirius@gmail.com。</p>
      </div>
    </article>
<%-include("footer.ejs")%>
</div>
</body>
</html>

