<%-include("header.ejs")%>
<body>
<%-include("nav.ejs")%>
<div id="page-post">
    <article class="post detail">
        <div class="meta">
            <div class="date">09月27, 2017</div>
            <div class="comment">
                <a href="#comments">1 comments</a>
            </div>
        </div>
        <h1 class="title">香港买保险及游记</h1>
        <div class="entry-content">
        <div class="toc">
            <ul>
                <li><a href="#toc-2bc">关于保险</a></li>
                <li><a href="#toc-0d9">其他</a></li>
            </ul>
        </div>      
    </article>
</div>

<%-include("footer.ejs")%>
</div>
</body>
</html>