<footer id="footer" class="inner">
&copy; 2018&nbsp;-&nbsp; 
Hpysirius的博客
&nbsp;-&nbsp;<a href="/">www.hpysirius.com</a>
<br />
Powered by&nbsp;
<a target="_blank" href="https://hpysirius.com">hpysirius</a>
&nbsp;&amp;&nbsp;
<a target="_blank" rel="nofollow" class="external" href="https://hpysirius.com">hpysirius</a>
</footer>
<script src="/public/js/index.js"></script>