<%-include("head.ejs")%>
<body>
<%-include("nav.ejs")%>
<%-include("header.ejs")%>
<div id="main">
    <article class="post tags">
        <h1 class="title">标签</h1>
        <div class="entry-content">
          <section>
            <a href="#" data-tag="ThinkJS">React</a>
          </section>
        </div>
      </article>

<%-include("footer.ejs")%>
</div>
</body>
</html>

